@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Dosis', sans-serif;
    overflow-x: hidden;
    
}

header {
    width: 100vw;
    height: 150px;
}


/*Barra superior*/
.up-bar {
    width: 100%;
    height: 40px;
    background-color: rgb(65, 66, 61);
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
}

.up-bar > p {
    padding: 0 15px;
}
.up-bar > p > a {
    color: white;
}



#ajuste-margin {
    margin-right: 30px;
}

.up-bar > p > a > i {
    padding: 0 5px;
    font-size: 1.3rem;
}
/*Fim barra superior*/

/*Barra logo e menu*/

/*Configuração fundo com efeito diagonal*/
.down-bar {
    height: 110px;
    width: 100%;
    background-color: rgb(206, 107, 0);
    position: relative;
}

.down-bar:before {
    content: '';
    position: absolute;
    width: 27%;
    height: 100%;
    top: 0;
    left: 60px;
    background-color: white;
    transform: skewX(-45deg);
}
.down-bar:after {
    content: '';
    position: absolute;
    width: 10%;
    height: 100%;
    top: 0;
    right: -100px;
    background-color: white;
    transform: skewX(-45deg);
}

/*Final do fundo com efeito diagonal*/

.nav-bar {
    width: 100vw;
    height: 100%;
    margin: 0 auto;
}

.conteudo-bar {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    
}

.logo {
    margin: 0 130px;
    
}

.logo > img {
    height: 95px;
}


.menu-bar > ul > li {
    display: inline;
}

.menu-bar > ul > li > a {
    padding: 0 60px;
    font-size: 24px;
    letter-spacing: 2px;
    color: white;
    transition: 0.5s ease-out;
    font-weight: bold;
    text-transform: uppercase;
}

.menu-bar > ul > li > a:hover {
    color: #393940;
}

.menu-bar .active {
    color: #393940;
}

/*Icon Menu*/
.icon-menu {
    margin-left: 100px;
    display: none;
}
.icon-menu > i {
    color: rgb(65, 66, 61);
    font-size: 30px;
    cursor: pointer;
}

/*Fim barra logo e menu*/


/*Início conteúdo*/

main {
    width: 100vw;
}

/*Carrossel*/
.carrossel {
    width: 100%;
    height: 700px;
    background-color: rgb(65, 66, 61);
}
/*Fim carrossel*/

/*Descritivo Engenharia*/

.sobre {
    width: 100vw;
    height: 250px;
    background-color: #e0e0e6;
    border: none;
    box-sizing: border-box;
    padding: 40px 0;
}
.descritivo-sobre {
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.sobre-cont {
    width: 50vw;
    margin: 0 auto;
}

.sobre-cont > h2{
    padding-bottom: 15px;
    font-size: 30px;
    color: rgb(65, 66, 61);
}

.sobre-cont > h2 > span {
    color: #F76315;
}

.sobre-cont > p {
    font-size: 22px;
    color: #393940;
    font-weight: 400;
} 

.saiba-mais {
    position: relative;
    width: 150px;
    top: 0px;
    right: -1270px;
    background-color: white;
    font-size: 22px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid black;
    color: rgb(65, 66, 61);
    font-weight: bold;
    cursor: pointer;
}

.saiba-mais > a > i {
    opacity: 0;
    padding-left: 4px;
}

.saiba-mais > a > i > img {
    width: 25px;
}


.saiba-mais > a > span {
    border-left: 1px solid black;
    padding: 0 5px;
}

/*Fim descretivo engenharia*/

/*Início serviços*/

.servicos {
    width: 100vw;
    height: 800px;
    background-color: rgb(236, 234, 234);
}

.servicos > h1 {
    text-align: center;
    font-size: 40px;
    color: rgb(65, 66, 61);
    line-height: 35px;
    height: 120px;
    line-height: 120px;
}

.conteudo-servicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    row-gap: 40px;
    box-sizing: border-box;
}

.box-servicos {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    
}

#box1 {
    margin-left: 30%;
}

#box2 {
    margin-right: 30%;
}

.img {
    background-color: rgb(65, 66, 61);
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.texto-img {
    position: absolute;
    left: 115px;
    bottom: 10px;
    z-index: 10;
    padding-bottom: 5px;
    font-size: 16px;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    display: none;
    
}

.img:hover > .texto-img {
    color: white;
    display: block;
    background-color: rgb(206, 107, 0);

}

.img > img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    
}


.img > #img2 {
    height: 200px;
}

.img > #img4 {
    height: 200px;
}

.img:hover img {
    -moz-transform: scale(1.1);
    -webkit-transition: scale(1.1);
    transform: scale(1.4);
    filter: grayscale();
}


.inform {
    width: 100%;
    height: 100px;
    background-color: #e0e0e6;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    padding: 15px;
}

.inform > h4 {
    color: #393940;
    font-size: 16px;
}

.inform > h4 > i > img {
    width: 15px;
}

.inform > p {
    font-size: 15px;
    color: rgb(65, 66, 61);
    font-weight: 400;
}
/*Final serviços*/

/*Início especializações*/
.especializacoes {
    width: 100vw;
    height: 424px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e6;
    box-sizing: border-box;
    padding-bottom: 40px;
}

.conf-espec {
    width: 50%;
}

.conf-espec > h2 {
    height: 120px;
    line-height: 120px;
    font-size: 40px;
    color: rgb(65, 66, 61);
    display: block;
    text-align: center;
}

.espec {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.espec > img {
    width: 40px;
    padding: 0 40px;
    position: relative;
    top: -15px;
}
.espec > i {
    position: relative;
    top: -42px;
    font-size: 40px;
    color: rgb(65, 66, 61);
    padding: 0 40px;
}



.espec-all > h3 {
    font-size: 24px;
    padding-bottom: 24px;
    color: rgb(65, 66, 61);
}

#espacamento {
    padding-top: 24px;
}

.espec-all > p {
    font-size: 20px;
}

/*Fim especializações*/

/*Início Footer*/

footer {
    width: 100vw;
    height: 250px;
    background-color: rgb(65, 66, 61);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fot-logo {
    padding: 0 30px;
    position: relative;
    
}

.fot-logo > p {
    color: white;
    position: relative;
    font-size: 17px;
    bottom: -30px;
}

.redes-sociais {
    position: relative;
    top: -30px;
    left: -70px;
}

.redes-sociais > h3 {
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
}
.icon-gap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.icon-rede {
    display: inline;
    font-size: 40px;
    background-color: rgb(65, 66, 61);
    border-radius: 50%;
    padding: 5px 10px;
    transition: 0.7s ease-in-out;
}

.icon-rede:hover {
    background-color: white;
    color: rgb(65, 66, 61);
}

.icon-rede > a > i {
    color: white;
    transition: 0.7s ease-in-out;
}

.icon-rede > a > i:hover {
    color: rgb(65, 66, 61);
}

.desenvolvido {
    margin-top: 150px;
    padding: 0 40px;
    color: white;
    font-size: 17px;
}

/*Final footer*/






/*Media Query*/




/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767.98px) { 
    /*Configuração ajustes em branco menu*/
    .down-bar:before {
        width: 300px;
        height: 100%;
        top: 0;
        left: 90px;
        background-color: white;
        transform: skewX(-45deg);
    }
    .down-bar:after {
        width: 10%;
        height: 100%;
        top: 0;
        right: -40px;
        background-color: white;
        transform: skewX(-45deg);
    }

    /*Fim da configuração dos ajustes em branco*/

    /*Icone menu hamburguer*/
    .icon-menu {
        margin: 0 auto;
        display: block;
    }

    .logo > img{
        width: 200px;
    }
    
    .menu-bar {
        position: absolute;
        width: 50vw;
        height: 100vh;
        top: 110px;
        background-color: white;
        display: none;
    }

    .menu-bar > ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 100px;
        margin-top: 100px;
    }
    .menu-bar > ul > li {
        display: block;
    }
    
    .menu-bar > ul > li > a {
        padding: 10px 0;
        font-size: 24px;
        letter-spacing: 2px;
        color: rgb(206, 107, 0);
        
    }
 }

 /*Classe open para funcionalidade do menu hamburguer*/
.open {
    display: block;
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {  }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }