@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Dosis', sans-serif;
}

header {
    width: 100vw;
    height: 160px;
}


/*Barra superior*/
.up-bar {
    width: 100%;
    height: 40px;
    background-color: #283434;
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
}

.up-bar > p {
    padding: 0 15px;
}
.up-bar > p > a {
    color: white;
}



#ajuste-margin {
    margin-right: 30px;
}

.up-bar > p > a > i {
    padding: 0 5px;
    font-size: 1.3rem;
}
/*Fim barra superior*/

/*Barra logo e menu*/

/*Configuração fundo com efeito diagonal*/
.down-bar {
    height: 120px;
    width: 100%;
    background-color: #F76315;
    position: relative;
}

.down-bar:before {
    content: '';
    position: absolute;
    width: 25%;
    height: 100%;
    top: 0;
    left: 60px;
    background-color: white;
    transform: skewX(-45deg);
}

.down-bar:after {
    content: '';
    position: absolute;
    width: 10%;
    height: 100%;
    top: 0;
    right: -100px;
    background-color: white;
    transform: skewX(-45deg);
}
/*Final do fundo com efeito diagonal*/

.nav-bar {
    width: 100vw;
    height: 100%;
    margin: 0 auto;
}

.conteudo-bar {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    
}

.logo {
    width: 400px;
    margin: 0 130px;
}


.menu-bar > ul > li {
    display: inline;
}

.menu-bar > ul > li > a {
    padding: 0 60px;
    font-size: 36px;
    letter-spacing: 2px;
    color: white;
    transition: 0.5s ease-out;
}

.menu-bar > ul > li > a:hover {
    color: #393940;
}

.menu-bar .active {
    color: #393940;
}

/*Icon Menu*/
.icon-menu {
    margin-left: 100px;
}
.icon-menu > i {
    color: #393940;
    font-size: 30px;
    cursor: pointer;
}

/*Fim barra logo e menu*/


/*Início conteúdo*/

main {
    width: 100vw;
}

/*Carrossel*/
.carrossel {
    width: 100%;
    height: 700px;
    background-color: blue;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.397);
}
/*Fim carrossel*/

/*Descritivo Engenharia*/

.sobre {
    width: 100vw;
    height: 250px;
    background-color: #e0e0e6;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.404);
}
.descritivo-sobre {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.sobre-cont {
    width: 50vw;
    margin: 0 auto;
}

.sobre-cont > h2{
    padding: 15px 0;
    font-size: 30px;
    color: #393940;
}

.sobre-cont > h2 > span {
    color: #F76315;
}

.sobre-cont > p {
    font-size: 22px;
    color: #393940;
    font-weight: 400;
} 

.saiba-mais {
    position: relative;
    width: 150px;
    top: 0px;
    right: -1270px;
    background-color: white;
    font-size: 22px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid black;
    color: #393940;
    font-weight: bold;
    cursor: pointer;
}

.saiba-mais > a > i {
    opacity: 0;
    transition: 1s ease-in-out;
    padding-left: 4px;
}

.saiba-mais > a > span {
    border-left: 1px solid black;
    padding: 0 5px;
}

/*Fim descretivo engenharia*/

/*Início serviços*/

.servicos {
    width: 100vw;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    row-gap: 40px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.404);
}

.box-servicos {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.404);
}

#box1 {
    margin-left: 30%;
}

#box2 {
    margin-right: 30%;
}

.img {
    width: 100%;
    height: 200px;
}

.inform {
    width: 100%;
    height: 100px;
    background-color: #e0e0e6;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    padding: 15px;
}

.inform > h4 {
    color: #393940;
    font-size: 16px;
}

.inform > p {
    font-size: 15px;
    color: #393940;
    font-weight: 400;
}
/*Final serviços*/

/*Início especializações*/
.especializacoes {
    width: 100vw;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e6;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.404);
}

.conf-espec {
    width: 50%;
}

.conf-espec > h2 {
    font-size: 30px;
    padding: 20px 0;
    color: #393940;
    display: block;
    text-align: center;
}

.espec {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.espec > i {
    font-size: 40px;
    color: #393940;
    padding: 0 40px;
}



.espec-all > h3 {
    font-size: 24px;
    padding: 20px 0;
    color: #393940;
}

.espec-all > p {
    font-size: 20px;
}

/*Fim especializações*/

/*Início Footer*/

footer {
    width: 100vw;
    height: 250px;
    background-color: #393940;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fot-logo {
    padding: 0 30px;
}

.fot-logo > p {
    color: white;
}

.redes-sociais {
    margin-bottom: 70px;
}

.redes-sociais > h3 {
    color: white;
    font-size: 30px;
    margin-bottom: 30px;
}
.icon-gap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.icon-rede {
    display: inline;
    font-size: 40px;
    color: #393940;
    background-color: white;
    border-radius: 50%;
    padding: 5px 10px;
    transition: 0.7s ease-in-out;
}

.icon-rede:hover {
    background-color: #393940;
}

.icon-rede > a > i {
    color: #393940;
    transition: 0.7s ease-in-out;
}

.icon-rede > a > i:hover {
    color: white;
}

.desenvolvido {
    margin-top: 150px;
    padding: 0 40px;
    color: white;
}

/*Final footer*/





/*Media Query*/


/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {  }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    
    .logo > img{
        width: 200px;
    }
    
    .menu-bar {
        position: fixed;
        width: 50vw;
        height: 100vh;
        top: 160px;
        background-color: red;
    }

    .menu-bar > ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 100px;
        margin-top: 100px;
    }
    .menu-bar > ul > li {
        display: block;
    }
    
    .menu-bar > ul > li > a {
        padding: 10px 0;
        font-size: 24px;
        letter-spacing: 2px;
        
    }
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {  }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }