* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    transition: all .2s linear;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #DF220F;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoMenu {
    width: 200px;
    padding: 1rem;
}

header nav {
    margin: 0 auto;
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: bold;
}

.itemLista {
    display: inline-block;
    padding: 1.5rem;
}

.itemLista a {
    color: white;
}

.itemLista a:hover {
    color: #009CDA;
}

main {
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
    display: flex;
}

.sessoes {
    border-radius: 8px;
    width: 800px;
    max-width: 800px;
    height: 700px;
}

.sessao1 {
    width: 300px;
    background-color: #DF220F;
    margin: 2rem 4rem;
}

.sessao2 {
    background-color: #009CDA; 
    margin: 2rem auto;
}