@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* font-family: "Playfair Display", serif; */

* {
    font-family: 'Dosis', 'Montserrat';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    width: 100%;
}

#start-servicos, #start-contratar, #start-formacao, #start-objetivo {
    position: absolute;
    width: 1px;
    height: 1px;
    left: 0;
    margin-top: -90px; /* esse valor varia de acordo com a altura do seu Header, se ele tiver 200px de altura coloque aqui -220px por exemplo */
    background-color: transparent;
    z-index: -1;
}

header {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    background-color: #F5F5F5;
    border-bottom: 1px solid #E0E0E0;
    z-index: 100; 
}

header ul>li {
    display: inline-block;
    padding: .5rem 1rem;
    
}

header ul>li>a {
    color: #5c6b7e;
}

header ul>li>a:hover {
    color: #3AA8C1;
}

#menu-bar {
    display: none;
    color: #002366;
    font-size: 2.5rem;
}

section {
    overflow: hidden;
}

.hero-section {
    width: 100%;
    height: 100%;
    max-height: 700px;
    background-image: url(../imagens/predios5M.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #002366;
    opacity: 0.5;
}

.hero-content {
    height: 100%;
    margin-top: 10rem;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    color: white;
    gap: 2rem;
    
}

.hero-content .hero-contentText {
    align-self: center;
}

.hero-content .hero-contentText h1 {
    font-family: "Playfair Display", serif;
    font-size: 5rem;
    width: 50rem;
}

.hero-content .hero-contentText p {
    font-size: 2.5rem;
    width: 70rem;
    margin-bottom: 3rem;
}

.hero-content .hero-contentText .botao-hero {
    background-color: #3AA8C1;
    font-size: 2.5rem;
    padding: 1.5rem;
    color: white;
    border-radius: .5rem;
    transition: background-color .3s ease;
}

.hero-content .hero-contentText .botao-hero:hover {
    background-color:#F5F5F5;
    color: #3AA8C1;
}

.imgRoberto {
    height: 100%;
    align-self: flex-end;
}

.imgRoberto img {
    height: 100%;
}


.sobreMim {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0 1.5rem 0;
    background-color: #F5F5F5;
}

.fale-comigo {
    margin: 0 20%;
}


.fale-comigo h4 {
    font-size: 2.5rem;
    color: #002366;
    padding-bottom: 3rem;
}

.fale-comigo h4 span {
    color: #D4AF37;
}

.fale-comigo p {
    padding-bottom: 1.5rem;
    font-size: 2rem;
    color: #5C6B7E;
}


.section1 {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    padding: 3rem 20% 1rem 20%;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #5C6B7E;
    border-top: 3px solid #D4AF37;
    border-bottom: 3px solid #D4AF37;
}

.section1 h3 {
    padding-bottom: 1.5rem;
    text-align: center;
}

section h3 {
    font-size: 3rem;
    color: #002366;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.section1 ul {
    
}

.section1 ul>li {
    padding: 1.5rem 0;
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.section1 ul>li>i {
    color: #002366;
    
}

.section1 a{
    font-size: 2.5rem;
    display: inline-block;
    color: white;
    background-color: #3AA8C1;
    padding: 1rem;
    border-radius: .5rem;
    transition: background-color .3s ease;
    align-self: flex-start;
    margin-bottom: 2rem;
    margin-left: 4rem;
}


.section1 a:hover {
    background-color: #002366;
}

.section2 h3{
    text-align: center;
    padding-bottom: 3rem;
}

.section2 {
    padding: 3rem 0;
}

.section2 .servicos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    max-width: 1600px; /* Limite a largura total do container */
    margin: 0 auto; /* Centraliza o container */
}

.section2 .servicos .box-servicos {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 400px;
    background-color: #F5F5F5;
    border: 3px solid #5C6B7E;
    border-radius: 1rem;
    overflow: hidden;
    flex: 0 0 auto; /* Impede que os itens estiquem ou encolham */
    margin-bottom: 4rem; /* Mantém o espaçamento inferior */
}

.box-servicos .img-box-servicos {
    height: 230px;
    width: 100%;
    overflow: hidden;
}

.box-servicos .box-servicos-conteudo {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    text-align: center;
}

.box-servicos .box-servicos-conteudo h4 {
    font-size: 2rem;
    color: #002366;
}

.box-servicos .box-servicos-conteudo p {
    font-size: 2rem;
    padding: 1.5rem 0;
    color: #5C6B7E;
}

/* .box-servicos .box-servicos-conteudo a {
    font-size: 2rem;
    padding: 1rem;
    color: white;
    background-color: #3AA8C1;
    border-radius: .5rem;
    transition: background-color .3s ease;
}

.box-servicos .box-servicos-conteudo a:hover {
    background-color: #002366;
} */

.section3 h3 {
    text-align: center;
    padding: 3rem 0;
}

.section3 {
    background-color: #F5F5F5;
    padding-bottom: 1.5rem;
}

.section3 .box-experiencia {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5rem;
    margin: 0 20%;
}

.section3 .box-experiencia p {
    font-size: 2rem;
    color: #5C6B7E;
    padding: 1.5rem 0;
    width: 70rem;
}

.section3 .box-experiencia p span {
    font-weight: bold;
}

.section3 .box-experiencia ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.section3 .box-experiencia ul li i {
    color: #002366;
    font-size: 2rem;
}

.formImgRoberto img {
    border-radius: 2rem;
    height: 350px;
    width: 288px;
    border: 3px solid #002366;
}




.section4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20%;
    padding-bottom: 1rem;
    border-top: 3px solid #D4AF37;
    border-bottom: 3px solid #D4AF37;
}

.section4 h3 {
    padding: 3rem 0;
}

.section4 p {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 2rem;
    color: #5C6B7E;
    text-align: justify;
}



.img-ajustada {
    width: 100%;
}















/* Carrossel Depoimentos */
.depoimentos-section {
    padding: 3rem 2rem;
    background-color: #F5F5F5;
    text-align: center;
}

.depoimentos-titulo {
    font-size: 3rem;
    margin-bottom: 40px;
    color: #002366;
}

.carrossel-depoimentos {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    
}

.depoimentos-container {
    display: flex;
    transition: transform 0.5s ease;
    
}

.depoimento {
    min-width: 100%;
    padding: 30px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.depoimento:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.depoimento-titulo {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #002366;
}

.depoimento-descricao {
    font-size: 1.5rem;
    line-height: 1.6;
    color: #5C6B7E;
    padding: 0 5rem;
}

.carrossel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #002366;
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px;
    font-size: 1.5rem;
    border-radius: 50%;
    transition: background-color 0.3s;
    z-index: 10;
    opacity: .7;
}

.carrossel-btn:hover {
    background-color: #3AA8C1;
}

.carrossel-prev {
    left: 20px;
}

.carrossel-next {
    right: 20px;
}

.carrossel-indicadores {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.indicador {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #bbb;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.indicador.ativo {
    background-color: #333;
}



footer {
    width: 100%;
    background-color: #002366;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem 1rem 4rem;
    overflow: hidden;
    border-top: 3px solid #D4AF37;
}

footer img {
    border-radius: .5rem;
}

footer p {
    font-size: 1.5rem;
    color: white;
    padding: 1rem 0;
}

footer p i {
    padding-right: 1.5rem;
    color: #D4AF37;
}

.copyright {
    align-self: flex-end;
    padding: 0;
}

/* Estilo do botão do WhatsApp */
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366; /* Cor verde do WhatsApp */
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: background-color 0.3s ease;
    animation: float 3s ease-in-out infinite;
}

.whatsapp-button img {
    width: 30px;
    height: 30px;
}

.whatsapp-button:hover {
    background-color: #128c7e; /* Cor verde mais escura ao passar o mouse */
    animation-play-state: paused; /* Pausa a animação ao passar o mouse */
}

/* Definição da animação */
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* Move o botão 10px para cima */
    }
}


/* Media */

@media(max-width:1500px) {

    .section3 .box-experiencia {
        align-items: flex-start;
        margin: 0 20%;
        
    }

    .section3 .box-experiencia .box-experiencia-estudos {
        padding-bottom: 3rem;
    }

    .fale-comigo {
        padding-bottom: 3rem;
    }

    .copyright {
        width: 40rem;
        text-align: center;
    }

    .section3 .box-experiencia {
        flex-direction: column;
        row-gap: 1rem;
    }

    .section3 .box-experiencia .box-experiencia-estudos {
        padding-bottom: 0rem;
    }

    .formImgRoberto {
        justify-self: center;
        align-self: center;
    }

    .section3 {
        padding-bottom: 3rem;
    }
}


@media(max-width:1200px) {
    .hero-content {
        gap: 0;
    }

    .hero-content .hero-contentText h1 {
        font-size: 3rem;
    }

    .hero-content .hero-contentText p {
        width: 55rem;
    }

    .copyright {
        width: 25rem;
        text-align: center;
    }

}


@media(max-width:1020px) {
    html {
        font-size: 55%;
    }

    header {
        flex-direction: column;
    }

    header nav {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 96px;
        left: -100%;
        background-color: #F5F5F5;
        transition: all 0.5s ease;
    }

    header nav ul {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #F5F5F5;
        top: 96px;
        text-align: center;
    }

    header ul>li {
        display: block;
        padding: .5rem 1rem;
        font-size: 3rem;
        padding: 2.5rem 0;
        font-weight: bold;
    }

    header ul>li a {
        color: #002366;
        text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    #menu-bar {
        display: block;
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #primeiroMenu {
        padding-top: 0;
    }

    .navbar.active {
        left: 0;
    }

    section h3 {
        font-size: 2.5rem;
    }
    
    .section4 {
        padding: 0 10%;
        padding-bottom: 1rem;
    }

    .fale-comigo {
        margin: 0 10%;
    }

    footer img {
        display: none;
    }

    .copyright {
        width: 40rem;
    }

    .section3 .box-experiencia {
        margin: 0 10%;
    }

    .section1 {
        padding: 3rem 10% 1rem 10%;
    }

    .imgRoberto {
        height: 400px;
        width: 297px;
    }
}


@media(max-width:900px) {
    .imgRoberto {
        display: none;
    }

    .hero-section {
        padding: 10rem 0;
    }

    .hero-content {
        display: block;
        padding-left: 5rem;
    }

    .hero-section::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 80%;
        top: -140;
        left: 500px;
        z-index: 10;
        background-image: url(../imagens/Roberto3R.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

}

/* Responsivo Depoimento*/
@media (max-width: 768px) {
    .depoimentos-titulo {
        font-size: 2rem;
    }
    
    .depoimento {
        padding: 20px;
    }
    
    .carrossel-btn {
        padding: 10px;
        font-size: 1.2rem;
    }

    .hero-section::before {
        left: 420px;
    }

    .hero-content {
        padding: 10rem 0;
    }

    .hero-section {
        padding: 10rem 0;
    }

    .hero-content .hero-contentText {
        position: absolute;
        top: 0;
        left: 50px;
        z-index: 1;
    }

    .hero-content .hero-contentText p {
        font-size: 2rem;
        width: 40rem;
    }


}

@media(max-width:750px) {
    .imgRoberto {
        display: none;
    }


    .copyright {
        width: 25rem;
    }

    .section3 .box-experiencia p {
        width: 50rem;
    }


    .hero-section::before {
        top: 95px;
        left: 410px;
    }

    .formImgRoberto img {
        height: 250px;
        width: 206px;
    }

}

@media(max-width:630px) {
    .hero-section::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 60%;
        top: 178px;
        left: 380px;
        z-index: 10;
        background-image: url(../imagens/Roberto3R.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
}

@media(max-width:630px) {
    .hero-content .hero-contentText h1 {
        font-size: 2.5rem;
        width: 40rem;
    }

    .hero-section::before {
        top: 178px;
        left: 360px;
    }
}

@media(max-width:550px) {
    .hero-section::before {
        top: 198px;
        left: 320px;
        height: 55%;
    }

    .hero-content .hero-contentText h1 {
        width: 30rem;
    }

    .hero-content .hero-contentText p {
        width: 30rem;
    }
    

}

@media(max-width:500px) {
    .hero-content {
        padding-left: 2rem;
        align-items: flex-start;
    }

    .hero-content .hero-contentText {
        padding-left: 3rem;
        padding-bottom: 3rem;
    }

    .hero-content .hero-contentText h1 {
        font-family: "Playfair Display", serif;
        font-size: 2rem;
        width: 30rem;
    }

    .hero-content .hero-contentText p {
        font-size: 1.5rem;
        width: 30rem;
    }

    .section3 .box-experiencia p {
        width: 40rem;
    }

    .fale-comigo a {
        font-size: 2rem;
    }

    .whatsapp-button img {
        width: 20px;
        height: 20px;
    }

    #menu-bar {
        top: 40px;
        right: 20px;
    }

    .section4 a {
        font-size: 2rem;
    }

    .section1 a {
        font-size: 1.8rem;
    }


    .hero-content .hero-contentText {
        left: 0px;
    }

    .hero-section::before {
        top: 220px;
        left: 280px;
        height: 50%;
    }
}

@media(max-width:450px) {
    .hero-section::before {
        top: 220px;
        left: 250px;
        height: 50%;
    }
}


@media(max-width:400px) {
    .section3 .box-experiencia p {
        width: 35rem;
    }

    .menu-fixo a img {
        width: 200px;
    }

    #menu-bar {
        top: 25px;
        right: 20px;
    }


    .section3 .box-experiencia ul li {
        gap: 0.5rem;
    }

    .section3 .box-experiencia p {
        
        width: 30rem;
    }

    .fale-comigo a {
        font-size: 1.5rem;
    }

    .section2 .servicos .box-servicos {
        width: 300px;
    }

    header nav {
        top: 68px;
    }

    .copyright {
        font-size: 1rem;
        align-self: center;
    }

    footer {
        gap: 1.5rem;
    }

    #start-servicos, #start-contratar, #start-formacao, #start-objetivo {
        margin-top: -65px; /* esse valor varia de acordo com a altura do seu Header, se ele tiver 200px de altura coloque aqui -220px por exemplo */
    }

    .section1 a {
        font-size: 1.5rem;
    }

    .hero-content .hero-contentText h1 {
        width: 20rem;
    }

    .hero-content .hero-contentText p {
        width: 20rem;
    }
    
    .hero-section::before {
        left: 200px;
    }

    .formImgRoberto img {
        height: 200px;
        width: 165px;
    }
}

@media(max-width:350px) {
    .section1 a {
        font-size: 1.3rem;
    }

    .hero-section::before {
        left: 180px;
    }
}