body {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.testeCores {
    width: 250px;
    height: 250px;
}

.teste1 {
    background-color: #002366;
}

.teste2 {
    background-color: #5C6B7E;
}

.teste3 {
    background-color: #F5F5F5;
}