@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

* {
    font-family: "Noto Sans", sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}


header .topMenu {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #3F0C40;
    padding: .5rem 3rem;
}

header .topMenu a {
    display: flex;
    gap: .5rem;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    text-align: center;
    transition: 0.3s;
    margin: 0 1rem;
    color: #EEE9D3;
}

header .topMenu a:hover {
    background-color: #EEE9D3;
    color: #3F0C40;
    
}

header .topMenu a i {
    font-size: 2rem;
}

header .mainMenu {
    background-color: #EEE9D3;
    display: flex;
    align-items: center;
    padding: 2rem 0;
    position: relative;
}

header .mainMenu h1 {
    font-family: "Source Serif 4", serif;
    font-size: 10rem;
    color: #8C207A;
}

header .mainMenu div {
    flex: 1;
}

header .mainMenu #menu-bar {
    font-size: 2.5rem;
    color: #8C207A;
    cursor: pointer;
    display: none;
}



header .mainMenu .logoAmora {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 4rem;
}


header .mainMenu .menu {
    text-align: center;
}

header .mainMenu .menu ul li {
    display: inline-block;
    font-size: 2.5rem;
    text-align: center;
    padding: 0 1.5rem;
    transition: transform 0.3s ease;
}

header .mainMenu .menu ul li:hover {
    transform: translateY(10px);
}

header .mainMenu .menu ul li a {
    color: #8C207A;
    padding: .5rem;
    text-transform: uppercase;
    font-weight: bold;
    
}

header .mainMenu .menu ul li a:hover {
    color: #3F0C40;
}

main {
    position: relative;
}

.modaInfantil {
    background-image: url(../imagens/grupoCrianca2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    display: flex;
    align-items: end;
    position: relative;
    border-top: 15px solid #8C207A;
    border-bottom: 15px solid #8C207A;
}

.modaInfantil h2 {
    font-size: 10rem;
    font-weight: bold;
    color: #8C207A;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra leve */
    border-radius: 10px;
    border: 4px solid #8C207A;
    margin-bottom: 12rem;
    opacity: .9;
    font-family: "Source Serif 4", serif;
    background-color: white;
    z-index: 1;
    position: relative;
}

.section {
    padding: 2rem 0;
}
.sobre {
    display: flex;
    background-color: #EEE9D3;
    flex-direction: column;
}

.sobre .texto1 {
    border-bottom: 2px solid #8C207A;
}

.sobre p {
    width: 50%;
    padding: 2rem;
    margin: auto;
    font-size: 2.5rem;
    text-align: justify;
    color: #3F0C40;
    line-height: 3.5rem;
}

.sobre p span {
    font-weight: bold;
}

.vitrine {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    gap: 4rem;
    padding: 2rem;
}

.vitrine .produtos {
    flex: 1 1 36rem;
    max-width: 45rem;
    width: 30rem;
    height: 35rem;
    border-radius: 20px;
    background-color: white;
    border: 10px solid #8C207A;
    overflow: hidden;
    position: relative;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.vitrine .produtos .preco {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    font-size: 1.5rem;
    background-color: #8C207A;
    color: white;
    padding: 1rem;
    border-radius: 10px;
}

.vitrine .produtos2 {
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .9);
    padding: 2rem;
    padding-top: 5rem;
    text-align: center;
    transition: all .2s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.vitrine .produtos2 h4 {
    font-size: 3rem;
    color: #3F0C40;
}

.vitrine .produtos2 p {
    font-size: 2rem;
    color: #8C207A;
    padding: 2rem 0;
}

.vitrine .produtos2 a {
    font-size: 2rem;
    color: #E2FDD5;
    padding: 1.5rem;
    background-color: #204F46;
    border-radius: 15px;
    border: 4px solid #E2FDD5;
}

.vitrine .produtos2 a span {
    padding-left: .5rem;
}


.vitrine .produtos .produtos2 .secImg {
    width: 100%;
    object-fit: cover;
}

.vitrine .produtos:hover .produtos2 {
    top: 0;
}

.vitrine .produtos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.modelos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    column-gap: 20rem;
    row-gap: 2rem;
    background: linear-gradient(to right, #3F0C40, #8C207A, #EEE9D3);
    background-color: #EEE9D3;
}

.modelos .redondo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #3F0C40;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    border: 10px solid white;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.efeitoTexto{
    opacity: 0;
}

.modelos a:hover .masculino {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagens/menino.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.modelos a:hover .feminino {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagens/menina.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.modelos a:hover .bebe {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagens/bebe.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.modelos a:hover .redondo .efeitoTexto {
    opacity: 1;
}

.masculino {
    background: url(../imagens/menino.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.feminino {
    background-image: url(../imagens/menina.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bebe {
    background-image: url(../imagens/bebe.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contato .contatoConteudo {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.contato .contatoConteudo img {
    width: 25rem;
    margin: 0 5rem;
}

.contato .contatoConteudo .zap a{
    display: flex;
    align-items: center;
    padding: 2rem;
    background: linear-gradient(45deg, #25D366, #54E39F, #DCF8C6);
    
}

.contato .contatoConteudo a .hover-effect {
    font-size: 3rem;
    font-weight: bold;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: background-position 1s ease;
    background-size: 200% 100%;
    background-position: 0 0;
}

.zapTexto {
    background: linear-gradient(to right, white 50%, #1c8843 50%);
    color: white;
}

.instaTexto {
    background: linear-gradient(to right, white 50%, #f09433 50%);
    color: white;
}

.contato .contatoConteudo a .hover-effect:hover {
    background-position: -100% 0;
}

.contato .contatoConteudo .insta a{
    display: flex;
    justify-content: end;
    padding: 2rem;
    align-items: center;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}


/* Contatos */

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
}

.form-items, .form-mensage {
    padding-bottom: 1rem;
    font-size: 2rem;
    
}

.form-items input, .form-mensage textarea {
    width: 400px;
    outline: none;
    font-size: 1.5rem;
    padding: .5rem;
    border: 1px solid black;
}

.submit {
    font-size: 2rem;
}

.submit input {
    padding: .5rem;
    cursor: pointer;
    border: 1px solid black;
    transition: 1s ease;
}

.submit input:hover {
    background-color: #3F0C40;
    color: white;
}

.formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    background-color: #EEE9D3;
}

.formulario h1{
    font-size: 5rem;
    background: linear-gradient(90deg, #3F0C40, #8C207A); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    font-weight: bold; 
    margin: 0;
}




footer {
    background-color: #EEE9D3;
    height: 300px;
    border-top: 40px solid #3F0C40;
    display: flex; 
    justify-content: space-around;
    align-items: center;
}

.contatoFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3rem;
    font-size: 2rem;
}

.contatoFooter a {
    color: black;
    transition: transform 0.3s ease;
}

.contatoFooter a:hover {
    transform: translateX(10px);
}

.contatoFooter span {
    padding-left: 1rem;
}

.logoAmoraF {
    font-family: "Source Serif 4", serif;
    font-size: 10rem;
    color: #8C207A;
    text-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}


@media(max-width:1250px) {
    header .mainMenu h1 {
        font-size: 7rem;
    }

    header .mainMenu .menu ul li {
        padding: 0 .5rem;
        font-size: 2rem;
    }

    .efeitoTexto{
        opacity: 1;
        color: #3F0C40;
        background-color: white;
        border-radius: 5px;
        padding: .5rem;
        opacity: .7;
        margin-top: 10rem;
    }
}

@media(max-width:1000px) {
    .logoAmoraF {
        font-size: 8rem;
    }

    .sobre p {
        width: 80%;
    }

    


}




@media(max-width:834px) {
    html {
        font-size: 55%;
    }

    header .mainMenu #menu-bar {
        display: block;
        position: absolute;
        right: 5rem;
        font-size: 3.5rem;
        z-index: 3;
    }

    header .mainMenu #menu-bar.active {
        color: #818C2E;
    }


    header .mainMenu .menu ul {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #8C207A;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        z-index: 2;
    }

    header .mainMenu .menu {
        flex: .3;
    }

    header .mainMenu .menu ul li {
        padding: 5rem 0;
    }

    

    header .mainMenu .menu ul li a {
        color: #818C2E;
        font-weight: bold;
    }


    header .mainMenu .menu ul.active {
        left: 0;
    }
   
    .modaInfantil h2 {
        font-size: 7rem;
    }
    
    .logoAmoraF {
        display: none;
    }
}



@media(max-width:550px) {
    .contato .contatoConteudo img {
        margin: 0 2rem;
        width: 20rem;
    }

    .contato .contatoConteudo a .hover-effect {
        font-size: 2rem;
    }

    .form-items input, .form-mensage textarea {
        width: 270px;
    }

    .modaInfantil h2 {
        font-size: 5rem;
    }

    header .mainMenu #menu-bar {
        right: 2.5rem;
    }
}

@media(max-width:450px) {
    .logoFooter {
        display: none;
    }

    .formulario h1{
        font-size: 3.5rem;
    }

    .logoAmora img {
        width: 100px;
    }

    header .mainMenu h1 {
        font-size: 4rem;
    }
}



