@font-face {
    font-family: 'cocogoose'; src: url(fontes/COCOGOOSE_TRIAL.OTF)
}

@font-face {
    font-family: 'bellgothic'; src: url(fontes/BellGothicStd-Bold.otf)
}

@font-face {
    font-family: 'geometr'; src: url(fontes/Geometr212\ BkCn\ BT\ Book.ttf)
}

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;700&display=swap');


/* CORREÇÃO DE CABEÇALHO FIXO AO CLICAR EM LINK ANCORADO NA PÁGINA*/
#start-servicos, #start-contato, #start-sobre {
    position: absolute;
    width: 1px;
    height: 1px;
    left: 0;
    margin-top: -154px; /* esse valor varia de acordo com a altura do seu Header, se ele tiver 200px de altura coloque aqui -220px por exemplo */
    background-color: transparent;
    z-index: -1;
}



* {
    font-family: 'Dosis', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

header {
    position: fixed;
    z-index: 100;
    
}


.menutopo {
    background-color: rgb(65, 66, 61);
    width: 100vw;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1rem 5rem;
    color: white;
}


.menutopo > p,
.menutopo > p > a {
    padding: 0rem 1rem;
    color: white;
    font-size: 1.5rem;
    
}

#zap {
    transition: 1s;
    border-radius: 1rem;
    padding: .5rem;
}

#zap:hover {
    color: #25D366;
    background-color: white;
    border: 1px solid #25D366;
}


#mail {
    padding: 0;
}

.menutopo > p > i,
.menutopo > p > a > i {
    padding: .5rem;
    color: white;
    font-size: 1.5rem;
}

#zap:hover #simbolozap {
    color: #25D366;
}



.menuprincipal {
    width: 100vw;
    height: 109px;
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: linear-gradient(to left, rgb(206, 107, 0), rgb(235, 153, 67));
}

.menu_logo {
    width: 50rem;
    height: 100%;
    padding: 2rem 5rem;
    background-color: white;
    clip-path: polygon(0 0, 100% 0, 88% 100%, 0% 100%);
    display: flex;
    justify-content: start;
    align-items: center;
}

.menu_logo > img {
    width: 25rem;
    height: 100%;
}

.cent-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-bar {
    position: absolute;
    font-size: 3rem;
    cursor: pointer;
    color: white;
    border: .1rem solid white;
    border-radius: .3rem;
    padding: .5rem 1.5rem;
    display: none;
    margin-right: 2rem;
    z-index: 1000;
}

.menu-cont {
    width: 60%;
    display: flex;
    justify-content: end;
    align-items: center;
    overflow: hidden;
}

.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    text-transform: uppercase;
}


.navbar > a {
    color: white;
    font-size: 2.2rem;
    padding: 2rem 6rem;
    font-weight: bold;
}

.navbar > a:hover {
    color: #393940;
}



#ativoMenu {
    color: #393940;
}

/* Fim Menu */

/* BACKGROUND ESPECIAL */
.espacamento {
    height: 150px;
}
.background-especial {
    background-image: url(imagens/backgroundservicos3.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
    background-attachment: scroll;
}


#backPrin {
    
}

#backPmoc {
    background-image: url(imagens/Air-Conditioning-Repair.jpg);
    
}

#backAvcb {
    background-image: url(imagens/extinguishers.jpg);
    
}

#backDesm {
    background-image: url(imagens/resptecnicpserv.png);
    
}

#backMonta {
    background-image: url(imagens/monta.jpg);
   
}

#backNr12 {
    background-image: url(imagens/nr12.jpg);
   
}

#backLTCAT {
    background-image: url(imagens/LTCAT_edit1.jpg);
}

#backGRO {
    background-image: url(imagens/GRO\ 01_edit1.jpg);
    
}

#backLip {
    background-image: url(imagens/LIP_edit1.jpg);
}

#backAep {
    background-image: url(imagens/EAT\ 01.jpg);
}

#backEsocial {
    background-image: url(imagens/eSocial_edit1.jpg);
}

#backSST {
    background-image: url(imagens/Gestão\ SST_edita1.jpg);
}

#backRespTec {
    background-image: url(imagens/Reponsavel\ técnico\ de\ empresa_edit1.jpg);
}

.carimbo {
    position: absolute;
    bottom: -70px;
    right: 5rem;
    z-index: 10;
}



/* Início Sobre */

main {
    width: 100vw;
    position: relative;
    background-color: #e0e0e6;
}

.margens {
    width: 100vw;
    height: 100%;
    padding: 0 30rem;
    overflow-x: hidden;
}


section.sobre {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    flex-direction: column;
}

.cont-sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    
}

.cont-sobre > p {
    font-weight: 400;
    font-size: 2rem;
    color: #393940;
    padding: 1rem 0 5rem;
    padding-right: 15rem;
    text-transform: initial;
}

.cont-sobre > h2 {
    padding-top: 5rem;
    font-size: 4rem;
    font-family: 'bellgothic';
    color: rgb(65, 66, 61);
}

.cont-sobre > h2 #laranja {
    color: rgb(206, 107, 0);
    font-weight: bold;
    font-family: 'cocogoose';
}

.cont-sobre > h2 #fonte {
    font-family: 'geometr';
    font-weight: 100;
    text-transform: lowercase;
}

.identidade {
    display: flex;
    justify-content: start;
    align-items: start;
    padding-top: 5rem;
}

.cont-identidade {
    width: 60%;
}

.cont-identidade > p {
    font-size: 2rem;
    color: #393940;
    text-transform: initial;
    padding-bottom: 3rem;
}

.cont-identidade > h2 {
    color: rgb(206, 107, 0);
    font-size: 4rem;
    padding-bottom: 3rem;
}

.lista-identidade > ul {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    padding-left: 2rem;
    font-size: 2rem;
    color: #393940;
    padding-bottom: 5rem;
} 

.lista-identidade span {
    font-weight: bold;
}

.selo {
    padding-left: 5rem;
}

/* Fim Sobre */




/* Início Especializações */
.margen-espec {
    padding: 0 20.5rem;
}

.espec {
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
}



.espec-title {
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
    padding-top: 5rem;
}
.espec-title > h2 {
    font-size: 4rem;
    color: #393940;
    font-weight: bold;
}



.geral-espec {
    display: flex;
    column-gap: 1rem;
}

.engrenagem > img {
    width: 4rem;
}

.cont-espec > h3 {
    font-size: 2.6rem;
    color: #393940;
    padding-bottom: 3rem;
}

.cont-espec {
    font-size: 2rem;
    color: #393940;
    padding-bottom: 3rem;
    padding-right: 15rem;
    padding-left: 4rem;
}


/* Fim Especializações */

/* INÍCIO SERVIÇOS */
.servicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
    box-sizing: border-box;
}

.serv-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2rem;
    row-gap: 5rem;
}

.servico {
    width: 35rem;
    height: 32rem;
    background-color: #e0e0e6;
    border-radius: 1rem;
    overflow: hidden;
    box-sizing: border-box;
}


.img-serv {
    width: 100%;
    height: 60%;
    overflow: hidden;
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
}

.title-serv {
    display: flex;
    padding: 1.5rem 1.5rem .5rem 1.5rem;
    color: rgb(65, 66, 61);
    align-items: center;

    
}

.title-serv > h4 {
    font-size: 1.8rem;
    padding-left: .5rem;
}

.pservic {
    padding: 0 1.5rem;
    font-size: 1.5rem;
    color: rgb(65, 66, 61);
}

.pservic > p {
    font-size: 1.6rem;
}

.check {
    width: 16px;
}

.serv-titulo {
    padding: 5rem 0 5rem 0;
    font-size: 3rem;
    color: rgb(65, 66, 61);
}



#nr12 {
    height: 100%;
}

#resptec {
    height: 100%;
}

#ltcat, #GRO, #lip, #eat, #esocial, #sst, #respTec {
    height: 100%;
    width: 100%;
}




.imgServico {
    transition: all 0.3s;
}

.img-serv:hover > .saibaMais {
    display: block;
}

.saibaMais {
    position: absolute;
    color: white;
    bottom: 10px;
    right: 35%;
    font-size: 2rem;
    padding: 0.6rem;
    background-color: rgb(206, 107, 0);
    border-radius: 1rem;
    display: none;
}

.imgServico:hover {
    -moz-transform: scale(1.1);
    -webkit-transition: scale(1.1);
    transform: scale(1.4);
    filter: grayscale();
    cursor: pointer;
}











/* CONTATO */
.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(65, 66, 61);
    padding-bottom: 5rem;
}

.conteudoContato {
    display: flex;
    padding-bottom: 5rem;
    width: 100%;
    gap: 18rem;
}

.tituloContato {
    padding: 5rem 0 8rem 0;
    font-size: 4rem;
    font-weight: bold;
}

.infoCont {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    color: rgb(65, 66, 61);
    font-size: 2rem;
}




.infoInput form{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    color: rgb(65, 66, 61);
    font-size: 2rem;
}

.form-items input {
    width: 40rem;
    height: 4rem;
    border-radius: .5rem;
    border-style: none;
    border: 1px solid rgb(65, 66, 61);
    font-size: 2rem;
    padding: 1rem;
}

.infoInput h2 {
    font-size: 3rem;
    padding-bottom: 3rem;
}

.tituloInfo h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
}

.paddingInfo {
    padding: 1.5rem 0;
}

.form-mensage {
    width: 100%;
}

#imsg {
    width: 100%;
    border-radius: .5rem;
}

.button {
    width: 15rem;
    padding: .5rem;
    height: 4rem;
    border-radius: .5rem;
    background-color: rgb(236, 234, 234);
    border-style: none;
    border: 1px solid rgb(65, 66, 61);
    transition: 0.5s ease-in;
    font-size: 20px;
    color: rgb(65, 66, 61);
    margin-bottom: 1rem;
}

.button:hover {
    background-color: white;
    color: rgb(206, 107, 0);
    border-color: rgb(206, 107, 0);
}



footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(65, 66, 61);
    padding: 4rem;
    font-size: 1.8rem;
    color: white;
    overflow-x: hidden;
}

.creaInsta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconeInsta  {
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 50%;
    transition: 1s;
}

.iconeInsta:hover {
    background-color: white;
}

.direitos {
    padding: 1rem;
    padding-left: 2rem;
}

.logofooter {
    padding: 1rem;
}

.iconeInsta i {
    font-size: 5rem;
    color: white;
}


.iconeInsta i:hover {
    color: rgb(65, 66, 61);
}


/* CORES DE FUNDO */
.background1 {
    background-color: #e0e0e6;
}

.background2 {
    background-color: rgb(236, 234, 234);
}


/* PÁGINA SERVIÇOS */

.servicos-base {
    padding-top: 150px;
    width: 100vw;
    background-color: rgb(236, 234, 234);
}

.titulo-principal {
    width: 100%;
    text-align: center;
    background-color: #e0e0e6;
    color: rgb(65, 66, 61);
    font-weight: bold;
    overflow-x: hidden;
}

.paddingTitulo {
    padding: 3rem 0;
}

.titulo-principal > h1 {
    font-size: 4rem;
    
}

.titulo-avcb {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
}

.novotitulo1 {
    color: white;
    width: 50%;
    background-color: rgb(65, 66, 61);
}

.novotitulo2 {
    background-color: rgb(236, 234, 234);
    width: 50%;
}

.conteudo-servicos {
    display: flex;
    justify-content: space-around;
    padding: 5rem 0;
    gap: 10rem;
    overflow-x: hidden;
}

.conteudo-servicos  aside > .menu {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    color: rgb(65, 66, 61);
    padding-left: 10rem;

}

.itens > a {
    display: flex;
    align-items: center;
    width: 340px;
    height: 40px;
    font-size: 2rem;
    color: rgb(65, 66, 61);
}

.itens > a:hover .checklista{
    display: block;
}

.itens > a > span {
    border: 1px solid rgb(65, 66, 61);
    height: 100%;
    width: 100%;
    padding-top: .8rem;
    padding-left: 1rem;
}

.imgCheck {
    height: 100%;
    width: 30%;
    border: 1px solid rgb(65, 66, 61);
    border-right: none;
    padding-top: 1rem;
    padding-left: 2.8rem;
}

.checklista {
    width: 22px;
    display: none;
}

.ativo .checklista {
    display: block;
}

.cont-serv {
    margin-right: 15rem;
}

.cont-serv h3 {
    font-size: 3rem;
    color: rgb(65, 66, 61);
    padding: 2rem 0;
}

.cont-serv p {
    font-size: 2rem;
    color: rgb(65, 66, 61);
}

.cont-serv p span {
    font-weight: bold;
}

.espacamentoP {
    padding: 1rem 0;
}

.espacamentoP > span {
    font-weight: bold;
}

.espacamentoPTop {
    padding-top: 3rem;
}


#fontSizeH4 {
    font-size: 2rem;
    color: rgb(65, 66, 61);
    font-weight: bold;
}

#economiah1 {
    padding-top: 0;
}

.mensagem-padrao {
    padding-left: 50rem;
    padding-top: 5rem;
    font-size: 2rem;
    color: rgb(65, 66, 61);
    padding-right: 15rem;
    background-color: #e0e0e6;
}

.mensagem-padrao p {
    padding-bottom: 2rem;
}

#engenheiro {
    padding-bottom: 5rem;
}


/* BLOG */
#iframe {
    width: 100%;
    height: 2000px;
}

#frame {
    background-color: #ECEAEA;
    padding-top: 100px;
}


/* Media Querys */

@media(max-width:1700px) {
    .margens {
        width: 100vw;
        height: 100%;
        padding: 0 15rem;
    }
    
    #pmoc {
        margin-left: 0;
    }
    
    #avcb {
        margin-right: 0;
    }

}


@media(max-width:1500px) {
    .margens {
        width: 100vw;
        height: 100%;
        padding: 0 15rem;
    }

    .margen-espec {
        padding: 0 6rem;
    }

    .navbar > a {
        padding: 2rem 3rem;
    }

    #carimboAvcb {
        bottom: -30px;
    }
    
}



@media(max-width:1200px) {
    .mensagem-padrao {
        padding-left: 15rem;
        padding-top: 5rem;
        font-size: 2rem;
        color: rgb(65, 66, 61);
        padding-right: 15rem;
        background-color: rgb(236, 234, 234);
    }

    .navbar > a {
        padding: 2rem 1rem;
    }

    .carimbo > img {
        width: 250px;
    }

}


@media(max-width:991px) {
    html {
        font-size: 55%;
    }

    .navbar > a {
        padding: 2rem 1rem;
       font-size: 2rem;
    }
    

    .margens {
        width: 100vw;
        height: 100%;
        padding: 0 10rem; 
    }

    .margen-espec {
        padding: 0 0rem;
    }

    .geral-espec {
        gap: 0;
        padding-left: 1.5rem;
    }

    .conteudo-servicos {
        flex-direction: column;
    }

    .cont-serv {
        margin-right: 5rem;
        padding-left: 10rem;
    }

     .identidade {
    flex-direction: column;
    
    }
    .cont-identidade {
        width: 100%;
    }
    
    .selo {
        padding-bottom: 5rem;
    }

    .conteudoContato {
        flex-direction: column;
        gap: 10rem;
    }
    
    .menu_logo {
        width: 45rem;
    }
    
    .form-mensage {
        width: 40rem;
    }

    #carimboAvcb {
        right: 2rem;
    }

  
}


@media(max-width:834px) { 
    #menu-bar {
        display: initial;

    }

    .navbar {
        position: absolute;
        right: 0; 
        height: 100vh;
        top: -1000%;
        background: rgb(206, 107, 0);
        border-top: .1rem solid rgba(0, 0, 0, .1);
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-top: 10rem;
    }

    .navbar.active {
        top: 0px;
    }


    .navbar > a {
        padding: 4rem 0;
        
    }

    .menu_logo > img {
        width: 85%;
        height: 85%;
    }

    .identidade {
    flex-direction: column;
    
    }
    .cont-identidade {
        width: 100%;
    }
    
    .selo {
        padding-bottom: 5rem;
    }

    .conteudoContato {
        flex-direction: column;
        gap: 10rem;
    }

    .form-mensage {
        width: 40rem;
    }

    .carimbo {
        display: none;
    }

    .background-especial {
        display: none;
    }

}

@media(max-width:650px) {
    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 5rem;
    }


    .menu_logo {
        width: 40rem;
    }

    .logo {
        width: 30rem;
    }

    .menutopo {
        padding: 1rem 2rem;
    }
    .menutopo > p > span, .menutopo > p > a > span {
        display: none;
    }

    .menutopo > p > i, .menutopo > p > a > i {
        font-size: 2.5rem;
    }

    #ajuste-margin {
        display: none;
    }

    .cont-sobre > p {
        padding: 1rem 0 4rem;
    }

}


@media(max-width:450px) {
    .margens {
        padding: 0 4rem;
    }

    .cont-sobre > p {
        padding: 1rem 0 2rem;
    }

    .cont-espec {
        padding-right: 3rem;
    }
    
    .conteudo-servicos aside > .menu {
        padding-left: .5rem;
    }

    .form-items input {
        width: 30rem;
    }

    #imsg {
        width: 30rem;
    }

    .cont-serv {
        padding-left: 4rem;
    }

    .mensagem-padrao {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .menu_logo {
        width: 30rem;
        padding: 2rem 5rem 2rem 1rem;
    }
    .logo {
        width: 20rem;
    }

    .cont-espec {
        padding: 2rem 0rem 2rem 3rem;
    }

    .geral-espec {
        padding-left: 0;
    }

    .button {
        width: 12rem;
    }
    

    
}