* {
    margin: 0px;
    padding: 0px;
}

/*Cabeçalho*/

header {
    width: 900px;
    height: 150px;
    margin: auto;
}

header > div#area1 {

}

header > div#area2 {
    background-color: #f96318;
    padding: 10px 10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 2px solid #3c3f40;
    
}

div#area2 > ul > li {
    display: inline;
    list-style: none;
    padding: 11px 15px;
    
}

div#area2 > ul > li:hover {
    background-color: white;
    border-radius: 7px;
    border: 1px solid #f96318;
    transition: 0.5s;
}


div#area2 > ul > li > a {
    text-decoration: none;
    color: white;
    
}

div#area2 > ul > li > a:hover {
    color: #f96318;
    transition: 0.5s;
}

/*Conteúdo principal*/

main {
    width: 900px;
    margin: auto;
    border-radius: 10px;
}

/*Início da primeira section*/

main > section#primeira_parte {
    border-radius: 10px;
    position: relative;
    height: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
}

section > div#imagem {
    float: left;
    width: 50%;
    height: 500px;
    background-image: url(imagens/engenheiros.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
}

section > div#conteudo {
    float: left;
    width: 50%;
    height: 500px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    
}

section > div#conteudo > h1 {
    margin-top: 100px;
    font-size: 40px;
    color: #3c3f40;

}

section > div#conteudo > h1 > span {
    color: #f96318;
}

section > div#conteudo > p {
    text-align: left;
    padding: 10px 0px;
    padding-left: 20px;
    font-size: 20px;
    margin-top: 30px;
}

div#botoes {
    margin-top: 50px;
}

div#botoes > a {
    padding: 10px;
    text-decoration: none;
    border-radius: 20px;
    
}

div#botoes > a#serv {
    background-color: #3c3f40;
    color: white;
}
div#botoes > a#serv:hover {
    border: solid 1px #3c3f40;
    background-color: white;
    color: #3c3f40;
    transition: 0.5s;
    font-weight: bold;
    font-size: 20px;
}

div#botoes > a#orc {
    background-color: #f96318;
    color: white;
}

div#botoes > a#orc:hover {
    border: solid 1px #f96318;
    background-color: white;
    color: #f96318;
    transition: 0.5s;
    font-weight: bold;
    font-size: 20px;
}

/*Início segunda section*/

section#segunda_parte {
    margin-top: 50px;
}

div.caixa {
    width: 900px;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 60px;
}

div.caixa > div.itens {
    width: 210px;
    height: 250px;
    text-align: center;
    border: 2px solid #f96318;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
}

div.itens > p {
    padding: 10px 0px;
    text-transform: uppercase;
    font-size: 10pt;
    background-color: #f96318;
    color: white;
}

div.itens > div.imagens {
    height: 50%;
    background-color: red;
    margin: 5px;
    
}

div#img1 {
    background-image: url(imagens/air-conditioner-g44c8a27c8_1280.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

div#img2 {
    background-image: url(imagens/maquina.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

div#img3 {
    background-image: url(imagens/peças.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

div#img4 {
    background-image: url(imagens/bombeiro.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

div.itens > div.conteudo {
    height: 30%;
    margin: 5px;
    font-size: 12pt;
}

div.conteudo > p {
    margin-bottom: 10px;
}

div.conteudo > a.acesso {
    text-decoration: none;
    background-color: #f96318;
    padding: 5px;
    border-radius: 8px;
    color: white;
    border: 2px solid #3c3f4067;
}

div.conteudo > a.acesso:hover {
    background-color: white;
    color: #f96318;
    border: 2px solid #3c3f40;
}

/*Informação Alessandro*/

section.sobreeng {
    margin-bottom: 50px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
}


section > div#enginfo {
    float: left;
    width: 450px;
    height: 300px;
    background-color: #f96318;
    text-align: center;
}

section > div#enginfo > p {
    margin: 15px 10px;
    padding: 30px 30px;
    font-size: 17pt;
    background-color: white;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
    border: 3px solid #3b3e40;
}


section > div#engfoto {
    float: right;
    width: 450px;
    height: 300px;
    text-align: center;
}

section > div#engfoto > h3 {
    margin-top: 30px;
    font-size: 20pt;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.37);
}

section > div#engfoto > img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37)
}




/*Rodapé*/

footer {
    background-color: #3b3e40;
    clear: both;
    margin: auto;
    width: 900px;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}



footer > div#foot1 > h3 {
    padding: 10px;
    text-transform: uppercase;
    margin-left: 10px;
    font-size: 20pt;
}

footer > div#foot1 > h3 > span {
    color: #f96318;
}

footer > div#foot1 > a > img {
    width: 25px;
    height: 25px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
}

img#insta {
    margin-left: 20px;
}

footer > div#foot1 > a > img:hover {
    background-color: #f96318;
}

footer > a > img#insta {
    margin-left: 20px;
}

footer > div#foot2 > a > img {
    height: 125px;
    margin-right: 50px;
}