@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    width: 100vw;
    height: 120px;
    background-color: rgb(83, 117, 83);
}

header > h1 {
    line-height: 120px;
    letter-spacing: 3px;
    margin-left: 5%;
    color: white;
    font-size: 40px;
    display: inline-block;
}

nav {
    float: right;
}


nav > .boxmenu > ul {
    margin-right: 20px;
    display: inline-block;
}

nav > .boxmenu > ul > li {
    display: inline-block;
    line-height: 120px;
    margin: 0 5px;
}

nav > .boxmenu > ul > li > a {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

nav > .boxmenu a.active, nav > .boxmenu a:hover {
    border-radius: 3px;
    background-color: rgb(22, 54, 22);
}

#menubar {
    font-size: 30px;
    color: white;
    cursor: pointer;
    margin-right: 40px;
    padding: 0 13px;
    display: none;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 858px) { 
    #menubar {
        display: block;
        line-height: 120px;
    }


    nav > .boxmenu > ul {
        margin-right: 0px;
        display: block;
    }

    nav > .boxmenu > ul > li {
        display: block;
    }

    ul {
        top: 120px;
        position: fixed;
        width: 50vw;
        height: 100vh;
        background-color: rgb(22, 54, 22);
        text-align: center;
        right: 0;
    }

    .boxmenu {
        display: none;
    }

    

    nav > .boxmenu a.active, nav > .boxmenu a:hover {
        background-color: none;
        color: rgb(83, 117, 83)
    }


}


@media (max-width: 952px) { 
    header > h1 {
        font-size: 30px;
        padding-left: 50px;
    }

    nav > .boxmenu > ul > li > a {
        font-size: 16px;
    }

 }

