@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

main {
    background-color: #201B2C;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section#lado-esquerdo {
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section#lado-esquerdo > h1 {
    color: #77FFC0;
    font-size: 3vw;
}

section#lado-direito {
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img#astronauta {
    width: 35vw;
}

form {
    width: 100%;
}

div#card-form {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #2F2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

div#card-form > h1 {
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}


div.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

div.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #514869;
    color: #f0ffffde;
    font-size: 12px;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;

}

div.textfield > label {
    color: #f0ffffde;
    margin: 10px;
}

div.textfield > input::placeholder {
    color: #f0ffffde;
}

input#login {
    width: 100%;
    padding: 16px 0px;
    margin: 10px 0px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    background-color: #00FF88;
    color: #201B2C;
    font-weight: 800;
    letter-spacing: 3px;
    box-shadow: 0px 10px 40px -12px #00ff8052;
    cursor: pointer;
}